<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actions.BaixaScanActivity" />
        <activity android:name=".actions.EntradaScanActivity" />
        <activity android:name=".actions.ManualActivity" />
        <activity android:name=".actions.ProdutosActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".auth.EsqueceuSenhaActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.CadastroActivity" />
        <activity android:name=".actions.PerfilActivity" />
        <activity android:name=".actions.DetalhesReceitaActivity" />
        <activity android:name=".actions.CardapioSemanal" />
        <activity
            android:name=".auth.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>